.section1 {
    background-color: #1F2937 ;
    padding-right: 200px;;
    padding-left: 200px;
    padding-bottom: 70px;
}

.header {
    display: flex;
}

body{
    margin: 0px;
}

#HeroMainText {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0px;
    justify-content: flex-start;
}

.headlinks {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: flex-end;
    gap: 3%;
    flex: 1;

}
#headerlinktext {
    font-size: 18px;
    color: #E5E7EB;
    margin-top:  0px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    justify-content: left;
    display: flex;
}

#calltoaction {
    font-size: 18px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;;

}


.section2{
    padding-top: 20px;
    padding-bottom: 60px;
}
.inner1{
    display: flex;
    margin-top: 30px;
    color: #E5E7EB;
}

.image {
    background-color: grey;
    padding: 25px;
    display: flex;
    justify-content: right;
    margin-top: 50px;;
    margin-left: 150px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 200px;
    padding-left: 200px;

}

.infoheader {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.inner2 {
    display: flex;
    padding-left: 400px;
    padding-right: 400px;
    justify-content: space-around;

}

.square {
    border: 3px solid #3882F6;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;

    
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


}

.container p {
    margin-top: 3px;
    color: gray;
    width: 150px;


}

.section3  {
    background-color:#E5E7EB ;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    text-align: left;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left:300px;
    padding-right:300px;
}

.section3 p {
    text-align: right;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
}

.signup2 {
    display: flex;
    align-items: center;
    background-color: #3882F6;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 100px;
    padding-left: 100px;
    border-radius: 10px;
}

.signup2 p {
    color: rgba(255, 255, 255, 0.739);
    font-size: 18px;
    margin-top: 0px;
}

.signup2 h3 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin-bottom: 2px;
}

#signupbutton {
    border: 2px solid white;
    background-color: #3882F6;
    color: white;
    height: 35px;
    width: 125px;
    border-radius: 5px;
    font-size: 18px;
}

.signupinfo {
    margin-right: 200px;
    margin-left: 40px;
}

footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}

